/* mobile */
html {
  font-size: 12px
}

/* tablet */
@media only screen and (min-width: 600px){
  html {
      font-size: 14px
  }
}

/* desktop */
@media only screen and (min-width: 768px){
  html {
      font-size: 16px
  }
}

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 0.25rem;
  margin-bottom: 20px;
}

.input-wrap {
  width: 90%;
  display: flex;
}

h1 {
  color: #373737;
}

.meme-list {
  height: calc(100vh - 3.25rem);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.meme {
  margin: 5px;
  cursor: pointer;
  position: relative;
}

.meme-title {
  display: none;
  position: absolute;
  width: calc(100%-10px);
  bottom: 4px;
  left: 0;
  right: 0;
  background: rgba(255,255,255,0.35);
  font-weight: bold;
  font-size: 0.7rem;
  padding: 2px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.meme:hover .meme-title {
  display:block;
}

.input {
  margin-right: 5px;
  width: 98%
}